@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-border: var(--border);
	--color-mode: var(--mode);
	--color-magnetic-mode: var(--magnetic-mode);
	--color-luminance-mode: var(--luminance-mode);

	--color-mode-disabled: var(--magnetic-mode-disabled);
	--color-mode-attract: var(--magnetic-mode-attract);
	--color-mode-repel: var(--magnetic-mode-repel);
	--color-luminance-mode-disabled: var(--luminance-mode-disabled);
	--color-luminance-mode-enabled: var(--luminance-mode-enabled);
}
