@property --mode {
  syntax: "<color>";
  initial-value: oklch(0.6 0.2 200);
  inherits: true;
}

@property --magnetic-mode {
  syntax: "<color>";
  initial-value: oklch(0.6 0.2 200);
  inherits: true;
}

@property --luminance-mode {
  syntax: "<color>";
  initial-value: oklch(0.6 0.2 100);
  inherits: true;
}

:root {
  --mode: var(--mode-attract, oklch(0.6 0.2 200));
  --magnetic-mode: var(--mode-attract, oklch(0.6 0.2 200));
  --luminance-mode: var(--mode-attract, oklch(0.6 0.2 100));
  --timing: cubic-bezier(0.65,0.05,0.36,1.00);
  transition:
    --mode .35s var(--timing),
    --magnetic-mode .35s var(--timing),
    --luminance-mode .35s var(--timing);

  /* Shared modes */
  --mode-disabled:  oklch(0.6 0 0);
  /* Magnetic modes (to be removed after rename and use of the --magnetic-*) */
	--mode-attract:  oklch(0.6 0.2 200);
 	--mode-repel: oklch(0.67 0.2 22.33);

  /* Magnetic modes (to be renamed) */
  --magnetic-mode-disabled: var(--mode-disabled);
  --magnetic-mode-attract:  oklch(0.6 0.2 200);
 	--magnetic-mode-repel: oklch(0.67 0.2 22.33);
  /* Luminance modese */
  --luminance-mode-disabled: var(--mode-disabled);
  --luminance-mode-enabled: oklch(0.6 0.2 100);

	--font-size: 16px;
	--radius: 0.625rem;
	--font-weight-medium: 500;
	--font-weight-normal: 400;

	--background: #ffffff;
	--foreground: oklch(0.145 0 0);
	--border: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
  	--background: oklch(0.145 0 0);
  	--foreground: oklch(0.985 0 0);
  	--border: oklch(0.269 0 0);
  }
}
